@media only screen and (max-width : 1200px)
	.specials-items
		h3
			margin-top: 30px

	.footer
		background-position: -200px 0, top right

@media only screen and (max-width : 992px)
	.menu-present
		.tabs-group
		
			height: 800px

	.specials-items
		padding: 20px

		.item
			float: none
			width: auto
			text-align: left

			&::before
				display: none

		.cell
			float: none
			width: auto

			&::before
				display: none

		.image
			padding-top: 10px
			float: left

		img
			width: 160px
			min-width: initial
			min-height: initial

		h3
			&::after
				margin: 0

	.about-us
		.container
			background-size: 60%

		h2
			margin-top: 70px

	.footer
		background-position: -300px 0, top right

@media only screen and (max-width : 768px)
	.about-us
		.container
			background-image: none

	.footer
		background: none
	
		.social
			float: none
			text-align: center

@media only screen and (max-width : 480px)
	.specials-items
		
		.item
			text-align: center

		.image
			padding-top: 40px
			float: none

		h3
			margin-top: 10px

			&::after
				margin: auto