<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Travels</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">


	<!--[if lt IE 9]>
		<script src="llibs/es5-shim/es5-shim.min.js"></script>
		<script src="libs/html5shiv/dist/html5shiv.min.js"></script>
		<script src="libs/html5shiv/dist/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/dest/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
	
	<header class="header">
		<div class="top-section">
			<div class="top-line">
				<div class="container">

					<div class="contacts">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="tel:+1 420-000-6000">+1 420-000-6000</a>

						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:hello@website.com">hello@website.com</a>
					</div>

					<nav class="search">
						<input type="search" id="search-input" name="search" placeholder="Search...">
						<i class="fa fa-search" aria-hidden="true"></i>
					</nav>

					<div class="social">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="logo">
					<i class="fa fa-joomla" aria-hidden="true"></i>
					<h1>TRIP<span>FINDER</span></h1>
				</div>

				<div class="mobile-menu-btn"></div>

				<nav class="menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Activities</a></li>
						<li><a href="#">Deals</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="container">
			<div class="head-message">
				<h2>Where your journey begins.</h2>
				<p>Discover your next great adventure,<br> become an explorer to get started!</p>
			</div>

			<div class="search-tour">
				<h2>Search Tours</h2>
				<p>Find your dream tour today!</p>
				<form action="">
					<label>
						<input type="text" name="" placeholder="Search Tour">
						<i class="fa fa-search" aria-hidden="true"></i>
					</label>
					<label>
						<input type="text" name="" placeholder="Destination">
						<i class="fa fa-plane" aria-hidden="true"></i>
					</label>
					<label>
						<input type="text" name="" placeholder="Tour Type">
						<i class="fa fa-bed" aria-hidden="true"></i>
					</label>
					<label>
						<input type="text" name="" placeholder="Month">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</label>
					<button>Find Tours</button>
				</form>
			</div>
		</div>

		<div class="bottom-line">
			<div class="container">
				<div class="half">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies erat mollis metus molestie, quis porta nunc finibus. Phasellus in nibh libero.
				</div>
			</div>
		</div>
	</header>

	<section class="tour-type">
		<div class="container">
			<h2>Find a Tour by Tour Type</h2>
			<p>
				Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio.
			</p>

			<div class="images">
				<div class="item">
					<img src="img/tour-types/1.jpg" alt="">
					<h3>North America</h3>
				</div>
				<div class="item">
					<img src="img/tour-types/2.jpg" alt="">
					<h3>North America</h3>
				</div>
				<div class="item">
					<img src="img/tour-types/3.jpg" alt="">
					<h3>San Francisco</h3>
				</div>
				<div class="item">
					<img src="img/tour-types/4.jpg" alt="">
					<h3>Amazon Cruise</h3>
				</div>
			</div>
		</div>
	</section>
	
	<section class="deals">
		<div class="container">
			<h2>Deals and Discounts</h2>

			<div class="deal-items">
				<div class="item">
					<div class="item-box">
						<img src="img/deals/1.jpg" alt="">
						<div class="price"><span>$<strike>899</strike></span> $499</div>
						<h3>Surfing</h3>
						<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio. </p>
						<a href="" class="button">Book Now</a>
					</div>
				</div>
				<div class="item">
					<div class="item-box">
						<img src="img/deals/2.jpg" alt="">
						<div class="price"><span>$<strike>899</strike></span> $499</div>
						<h3>Surfing</h3>
						<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio. </p>
						<a href="" class="button">Book Now</a>
					</div>
				</div>
				<div class="item">
					<div class="item-box">
						<img src="img/deals/3.jpg" alt="">
						<div class="price"><span>$<strike>899</strike></span> $499</div>
						<h3>Surfing</h3>
						<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio. </p>
						<a href="" class="button">Book Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trips">
		<h2>Find a Tour by Beautiful Trips</h2>

		<div class="trips-items">
		
			<div class="row">
				<div class="item">
					<img src="img/trips/1.jpg" alt="">
					<div class="layer-box">
						<h3>promotional trip</h3>
						<p>Orlando, Air/3 Nights</p>
						<a href="#" class="button">Know more</a>
					</div>
				</div>
				<div class="item">
					<img src="img/trips/2.jpg" alt="">
					<div class="layer-box">
						<h3>promotional trip</h3>
						<p>Orlando, Air/3 Nights</p>
						<a href="#" class="button">Know more</a>
					</div>
				</div>
				<div class="item">
					<img src="img/trips/3.jpg" alt="">
					<div class="layer-box">
						<h3>promotional trip</h3>
						<p>Orlando, Air/3 Nights</p>
						<a href="#" class="button">Know more</a>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="item">
					<img src="img/trips/4.jpg" alt="">
					<div class="layer-box">
						<h3>promotional trip</h3>
						<p>Orlando, Air/3 Nights</p>
						<a href="#" class="button">Know more</a>
					</div>
				</div>
				<div class="item">
					<img src="img/trips/5.jpg" alt="">
					<div class="layer-box">
						<h3>promotional trip</h3>
						<p>Orlando, Air/3 Nights</p>
						<a href="#" class="button">Know more</a>
					</div>
				</div>
				<div class="item">
					<img src="img/trips/6.jpg" alt="">
					<div class="layer-box">
						<h3>promotional trip</h3>
						<p>Orlando, Air/3 Nights</p>
						<a href="#" class="button">Know more</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	
	<section class="news">
		<div class="container">
			<h2>News &amp; Events</h2>
			<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio. </p>
			
			<div class="news-items">
				<div class="item">
					<div class="item-box">
						<img src="img/news/1.jpg" alt="">
						<div class="content-box">
							<a href="#">Living the Travel Lifestyle</a>
							<div class="date">
								<i class="fa fa-calendar" aria-hidden="true"></i>
								<time>May 11, 2015</time>
							</div>
							<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! </p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item-box">
						<img src="img/news/2.jpg" alt="">
						<div class="content-box">
							<a href="#">Living the Travel Lifestyle</a>
							<div class="date">
								<i class="fa fa-calendar" aria-hidden="true"></i>
								<time>May 11, 2015</time>
							</div>
							<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! </p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item-box">
						<img src="img/news/3.jpg" alt="">
						<div class="content-box">
							<a href="#">Living the Travel Lifestyle</a>
							<div class="date">
								<i class="fa fa-calendar" aria-hidden="true"></i>
								<time>May 11, 2015</time>
							</div>
							<p>Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="luxury">
		<h2>Luxury Travel</h2>
		<h3>Peace of Mind guaranteed! </h3>
		<a href="#" class="button">Find Tours</a>
	</section>
	
	<footer class="footer">
		<div class="top-section">
			<div class="container">
				<div class="fl llc">
					<h2>Findfinder LLC</h2>
					<p>1400 Pennsylvania Ave. Washington, DC
					P: 24/7 customer support: 1-555-555-5555
					E: info@tripfinder.com</p>
				</div>
				<div class="fl support">
					<h2>support</h2>
					<a href="#">Faq</a><br>
					<a href="#">Payment options</a><br>
					<a href="#">Booking tips</a>
				</div>
				<div class="fl follow">
					<h2>Follow us</h2>
					<a href="#" class="button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#" class="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#" class="button"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#" class="button"><i class="fa fa-youtube" aria-hidden="true"></i></a>
				</div>
				<div class="fl sletter">
					<h2>Newsletter</h2>
					<form>
						<input type="email" name="newSletter" placeholder="Enter email" required>
						<button class="button">Submit</button>
					</form>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<p>© PSDfreebies.com 2015. All rights reserved.</p>
			</div>
		</div>
	</footer>

	<script>
		localStorage.fontsStyleCache = '';

		(function(){
			var style = document.createElement('style');
	        style.rel = 'stylesheet';
	        document.head.appendChild(style);
	        
	        if (localStorage.fontsStyleCache) {
	        	style.textContent = localStorage.fontsStyleCache;
	        } else {
	            var request = new XMLHttpRequest();

	            request.open('GET', 'fonts.css', true);

	            request.onload = function() {
	                if (request.status >= 200 && request.status < 400) {
	                    style.textContent = localStorage.fontsStyleCache = request.responseText;
	                }
	            }

	            request.send();
	        }
		})();
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
	
	<script src="js/main.js"></script>

</body>
</html>