.progress-cb {
  width: 100%;
  height: 100%;
  min-width: 10px;
  min-height: 10px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.progress-cb .hidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
}

.progress-cb .left-half {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  z-index: 2;
  background: #ddc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  clip: rect(0, 150px, 300px, 0);
}

.progress-cb .right-half {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: #ddc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  clip: rect(0, 300px, 300px, 150px);
  display: none;
}

.is-menu {
  overflow: hidden;
}

.is-menu .menu {
  height: 100%;
  overflow-y: auto;
  opacity: 1;
}

#diagram {
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
}

#diagram .item-1, #diagram .item-2, #diagram .item-3 {
  display: inline-block;
  width: 210px;
  margin: 0 5%;
  margin-top: 45px;
  vertical-align: middle;
}

#diagram .item-1 .box-progress, #diagram .item-2 .box-progress, #diagram .item-3 .box-progress {
  position: relative;
  width: 210px;
  height: 210px;
}

#diagram .item-1 .box-progress .progress-cb, #diagram .item-2 .box-progress .progress-cb, #diagram .item-3 .box-progress .progress-cb {
  background: #e5e3e3;
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

#diagram .item-1 .box-progress .center-num, #diagram .item-2 .box-progress .center-num, #diagram .item-3 .box-progress .center-num {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  background: #fff;
  color: #000;
  z-index: 5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#diagram .item-1 .box-progress .center-num .num, #diagram .item-2 .box-progress .center-num .num, #diagram .item-3 .box-progress .center-num .num {
  font-size: 72px;
  font-family: tahoma, sans-serif;
  line-height: 1;
  margin-top: 25%;
}

#diagram .item-1 .box-progress .center-num .caption, #diagram .item-2 .box-progress .center-num .caption, #diagram .item-3 .box-progress .center-num .caption {
  font-size: 18px;
  line-height: 1;
  margin-top: 3%;
  text-transform: uppercase;
  color: #454545;
}

#diagram .item-1 .text, #diagram .item-2 .text, #diagram .item-3 .text {
  margin-top: 35px;
  height: 80px;
  color: #454545;
  line-height: 1.2;
}

#diagram .item-1 .num {
  color: #f34739;
}

#diagram .item-1 .left-half {
  background: #f34739;
}

#diagram .item-1 .right-half {
  background: #f34739;
}

#diagram .item-2 .num {
  color: #20a698;
}

#diagram .item-2 .left-half {
  background: #20a698;
}

#diagram .item-2 .right-half {
  background: #20a698;
}

#diagram .item-3 .num {
  color: #152b3c;
}

#diagram .item-3 .left-half {
  background: #152b3c;
}

#diagram .item-3 .right-half {
  background: #152b3c;
}

.sec-title .title, .team .title, .portfolio .title, .brands .title {
  height: 300px;
  background: url(../img/team-title-bg.jpg) no-repeat top left;
  background-size: cover;
  text-align: center;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sec-title .title .border, .team .title .border, .portfolio .title .border, .brands .title .border {
  max-width: 1024px;
  height: 190px;
  border: 2px solid #ddd;
  margin: 0 auto;
}

.sec-title .title span, .team .title span, .portfolio .title span, .brands .title span {
  display: block;
  position: relative;
  width: 230px;
  margin: 60px auto 0 auto;
  font-size: 18px;
  font-family: 'Quicksand Light', sans-serif;
  line-height: 1.5;
}

.sec-title .title span::before, .team .title span::before, .portfolio .title span::before, .brands .title span::before, .sec-title .title span::after, .team .title span::after, .portfolio .title span::after, .brands .title span::after {
  content: '';
  width: 65px;
  position: absolute;
  top: 50%;
  height: 1px;
  margin-top: -1px;
  background: #fff;
}

.sec-title .title span::before, .team .title span::before, .portfolio .title span::before, .brands .title span::before {
  left: 0;
}

.sec-title .title span::after, .team .title span::after, .portfolio .title span::after, .brands .title span::after {
  right: 0;
}

.sec-title .title h2, .team .title h2, .portfolio .title h2, .brands .title h2 {
  font-size: 48px;
  font-family: 'Quicksand Bold', sans-serif;
  text-transform: uppercase;
}

.team .title {
  height: 300px;
  background: url(../img/team-title-bg.jpg) no-repeat top left;
  background-size: cover;
  text-align: center;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team .title .border {
  max-width: 1024px;
  height: 190px;
  border: 2px solid #ddd;
  margin: 0 auto;
}

.team .title span {
  position: relative;
  width: 230px;
  margin: 60px auto 0 auto;
  font-size: 18px;
  font-family: 'Quicksand Light', sans-serif;
  line-height: 1.5;
}

.team .title span::before, .team .title span::after {
  content: '';
  width: 65px;
  position: absolute;
  top: 50%;
  height: 1px;
  margin-top: -1px;
  background: #fff;
}

.team .title span::before {
  left: 0;
}

.team .title span::after {
  right: 0;
}

.team .title h2 {
  font-size: 48px;
  font-family: 'Quicksand Bold', sans-serif;
  text-transform: uppercase;
}

.team .team-items {
  max-width: 1180px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.team .team-items .item {
  overflow: hidden;
}

.team .team-items .item .photo, .team .team-items .item .text {
  width: 50%;
  position: relative;
  height: 300px;
}

.team .team-items .item .photo::before, .team .team-items .item .text::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #fff;
}

.team .team-items .item .photo {
  background: #cfbbb6;
  overflow: hidden;
}

.team .team-items .item .photo img {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.team .team-items .item .text {
  text-align: center;
}

.team .team-items .item .text h2 {
  font-size: 36px;
  padding-top: 60px;
  color: #000;
  font-family: 'Quicksand Regular', sans-serif;
  text-transform: uppercase;
}

.team .team-items .item .text h3 {
  position: relative;
  font-size: 16px;
  color: #000;
  font-family: 'Quicksand Regular', sans-serif;
  padding-top: 4px;
}

.team .team-items .item .text h3::after {
  content: '';
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 2px;
  background: #f34739;
}

.team .team-items .item .text p {
  font-size: 20px;
  color: #454545;
  font-family: 'Quicksand Regular', sans-serif;
  width: 320px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.team .team-items .item:nth-child(2n+1) .photo {
  float: left;
}

.team .team-items .item:nth-child(2n+1) .photo::before {
  right: 0;
  border-right: none;
}

.team .team-items .item:nth-child(2n+1) .photo::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-top: 45px solid transparent;
  border-right: 45px solid #fff;
  border-bottom: 45px solid transparent;
  width: 0;
  height: 0;
}

.team .team-items .item:nth-child(2n+1) .text {
  float: right;
}

.team .team-items .item:nth-child(2n+1) .text::before {
  left: 0;
  border-left: none;
  border-color: #000;
}

.team .team-items .item:nth-child(2n) .photo {
  float: right;
}

.team .team-items .item:nth-child(2n) .photo::before {
  left: 0;
  border-left: none;
}

.team .team-items .item:nth-child(2n) .photo::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 45px solid transparent;
  border-left: 45px solid #fff;
  border-bottom: 45px solid transparent;
  width: 0;
  height: 0;
}

.team .team-items .item:nth-child(2n) .text {
  float: left;
}

.team .team-items .item:nth-child(2n) .text::before {
  right: 0;
  border-right: none;
  border-color: #000;
}

.portfolio {
  overflow: hidden;
}

.portfolio .title {
  background: url(../img/portfolio-title-bg.jpg);
}

.portfolio .title span {
  width: 265px;
}

.portfolio .title span::before, .portfolio .title span::after {
  width: 25px;
}

.portfolio .items .item {
  position: relative;
  float: left;
  width: 14.2857%;
  padding-bottom: 14.2857%;
  background: #eee;
}

.portfolio .items .item a, .portfolio .items .item a .htext {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio .items .item a {
  z-index: 1;
  overflow: hidden;
}

.portfolio .items .item a img {
  min-width: 100%;
  min-height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.portfolio .items .item a .htext {
  z-index: 2;
  background: url(../img/portfolio/eye.png) no-repeat center 40%;
  background-size: 50px auto;
  opacity: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.portfolio .items .item a .htext span {
  display: block;
  margin-top: 60%;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.portfolio .items .item a:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.portfolio .items .item a:hover .htext {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.brands .title {
  background: url(../img/brands-title-bg.jpg);
}

.brands .title span {
  width: 180px;
}

.brands .title span::before, .brands .title span::after {
  width: 15px;
}

.brands .brands-items .row {
  overflow: hidden;
  border-top: 1px solid #f5f5f5;
}

.brands .brands-items .row:first-child {
  border-top: none;
}

.brands .brands-items .row .box-items {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
}

.brands .brands-items .row .box-items .item {
  position: relative;
  float: left;
  width: 14.2857%;
  padding-bottom: 14.2857%;
}

.brands .brands-items .row .box-items .item .inner-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #f5f5f5;
  z-index: 5;
}

.brands .brands-items .row .box-items .item .inner-box img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.brands .brands-items .row .box-items .item:first-child .inner-box {
  border-left: none;
}

.brands .brands-items .row.ornament {
  height: 50px;
}

.footer {
  background: #101010;
  color: #4a4a4a;
  text-align: center;
}

.footer .top-section .items {
  padding-bottom: 25px;
}

.footer .top-section .items .item {
  display: inline-block;
  width: 160px;
  margin: 0 45px;
}

.footer .top-section .items .item h2 {
  position: relative;
  font-size: 30px;
  font-family: 'Quicksand Light', sans-serif;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer .top-section .items .item h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
  height: 1px;
  background: #009989;
}

.footer .top-section .items .item p {
  padding-top: 30px;
}

.footer a {
  color: #575757;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.footer a:hover {
  color: #979797;
}

.footer .bottom-section {
  background: #0e0e0d;
}

.footer .bottom-section .copyright {
  line-height: 60px;
  font-size: 12px;
}

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1200px) {

  .team .title {
    background-position: -300px 0;
  }
  .team .title .border {
    left: 5%;
    right: 5%;
  }
  .portfolio {
    overflow: hidden;
  }
  .portfolio .items .item {
    width: 25%;
    padding-bottom: 25%;
  }
  .portfolio .items .item:last-child {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .team .title {
    background-position: -500px 0;
  }
}

@media only screen and (max-width: 768px) {

  .team .team-items .item {
    overflow: hidden;
  }
  .team .team-items .item .photo, .team .team-items .item .text {
    width: 100%;
  }
  .team .team-items .item:nth-child(2n+1) .photo {
    float: none;
  }
  .team .team-items .item:nth-child(2n+1) .photo::before {
    right: 20px;
    border-right: 2px solid #fff;
    top: 0;
    border-top: none;
  }
  .team .team-items .item:nth-child(2n+1) .photo::after {
    left: 0;
    bottom: auto;
    border-left: 45px solid transparent;
    border-top: 45px solid #fff;
    border-right: 45px solid transparent;
  }
  .team .team-items .item:nth-child(2n+1) .text {
    float: none;
  }
  .team .team-items .item:nth-child(2n+1) .text::before {
    left: 20px;
    border-left: 2px solid #000;
    bottom: 0;
    border-bottom: none;
  }
  .team .team-items .item:nth-child(2n) .photo {
    float: none;
  }
  .team .team-items .item:nth-child(2n) .photo::before {
    left: 20px;
    border-left: 2px solid #fff;
    top: 0;
    border-top: none;
  }
  .team .team-items .item:nth-child(2n) .photo::after {
    right: 0;
    bottom: auto;
    border-left: 45px solid transparent;
    border-top: 45px solid #fff;
    border-right: 45px solid transparent;
  }
  .team .team-items .item:nth-child(2n) .text {
    float: none;
  }
  .team .team-items .item:nth-child(2n) .text::before {
    right: 20px;
    border-right: 2px solid #000;
    bottom: 0;
    border-bottom: none;
  }
  .portfolio .items .item {
    width: 33.3333%;
    padding-bottom: 33.3333%;
  }
  .portfolio .items .item a .htext {
    background-position: center center;
  }
  .portfolio .items .item a .htext span {
    display: none;
  }
  .portfolio .items .item:last-child {
    display: block;
  }
  .brands .brands-items .row .box-items .item {
    width: 33.3333%;
    padding-bottom: 33.3333%;
  }
  .brands .brands-items .row .box-items .item:nth-child(1), .brands .brands-items .row .box-items .item:nth-child(2), .brands .brands-items .row .box-items .item:nth-child(6), .brands .brands-items .row .box-items .item:nth-child(7) {
    display: none;
  }
  .footer .top-section .items {
    padding-bottom: 25px;
  }
  .footer .top-section .items .item {
    width: 50%;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {


  .team .title h3 {
    width: 180px;
  }
  .team .title h3::before, .team .title h3::after {
    width: 35px;
  }
  .team .title h1 {
    font-size: 38px;
  }
  .portfolio .title h3 {
    width: 190px;
    font-size: 14px;
  }
  .portfolio .title h3::before, .portfolio .title h3::after {
    width: 5px;
  }
  .portfolio .title h1 {
    font-size: 33px;
  }
}

@media only screen and (max-width: 320px) {
  .team .team-items .item .text p {
    width: 300px;
  }
  .portfolio .items .item {
    width: 50%;
    padding-bottom: 50%;
  }
  .portfolio .items .item:last-child {
    display: none;
  }
}